In [1]:
!pip install -U pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 126.6 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.3.3 which is incompatible.
cudf-cu12 25.6.0 requires pandas<2.2.4dev0,>=2.0, but you have pandas 2.3.3 which is incompatible.
dask-cudf-cu12 25.6.0 requires pandas<2.2.4dev0,>=2.0, but you have pandas 2.3.3 which is incompatible.
Successfully installed pandas-2.3.3

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.3'

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [5]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [10]:
animals = ["Cat", "Dog", "Tiger"]
p_animals = pd.Series(animals)
p_animals

0      Cat
1      Dog
2    Tiger
dtype: object

In [7]:
type(p_animals)

pandas.core.series.Series

In [8]:
p_animals[2]

'Tiger'

In [11]:
numbers = [2.0, 20, 1.5]
p_numbers = pd.Series(numbers)
p_numbers

0     2.0
1    20.0
2     1.5
dtype: float64

In [12]:
test = ['cat', "red", None]
p = pd.Series(test)
p

0     cat
1     red
2    None
dtype: object

In [14]:
test2 = [2.0, 20, None]
p2 = pd.Series(test2)
p2

0     2.0
1    20.0
2     NaN
dtype: float64

In [15]:
animal = {
    'first': 'Cat',
    'second': 'Dog',
    'third': 'Tiger'
}

p_animal = pd.Series(animal)
p_animal

first       Cat
second      Dog
third     Tiger
dtype: object

In [16]:
print(p_animal['first'])

Cat

In [17]:
print(p_animal.iloc[2])

Tiger

In [18]:
type(p_animals)

pandas.core.series.Series

In [19]:
p_animal.index

Index(['first', 'second', 'third'], dtype='object')

In [21]:
p_animal.values

array(['Cat', 'Dog', 'Tiger'], dtype=object)

In [23]:
p_animals = pd.Series(['cat', 'tiger','dog'], index=['n1','n2','n3'])
p_animals

n1      cat
n2    tiger
n3      dog
dtype: object