In [ ]:

!pip install -U pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 126.6 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.3.3 which is incompatible.
cudf-cu12 25.6.0 requires pandas<2.2.4dev0,>=2.0, but you have pandas 2.3.3 which is incompatible.
dask-cudf-cu12 25.6.0 requires pandas<2.2.4dev0,>=2.0, but you have pandas 2.3.3 which is incompatible.
Successfully installed pandas-2.3.3

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'2.3.3'

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [ ]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [ ]:
animals = ["Cat", "Dog", "Tiger"]
p_animals = pd.Series(animals)
p_animals

0      Cat
1      Dog
2    Tiger
dtype: object

In [ ]:
type(p_animals)

pandas.core.series.Series

In [ ]:
p_animals[2]

'Tiger'

In [ ]:
numbers = [2.0, 20, 1.5]
p_numbers = pd.Series(numbers)
p_numbers

0     2.0
1    20.0
2     1.5
dtype: float64

In [ ]:
test = ['cat', "red", None]
p = pd.Series(test)
p

0     cat
1     red
2    None
dtype: object

In [ ]:
test2 = [2.0, 20, None]
p2 = pd.Series(test2)
p2

0     2.0
1    20.0
2     NaN
dtype: float64

In [ ]:
animal = {
    'first': 'Cat',
    'second': 'Dog',
    'third': 'Tiger'
}

p_animal = pd.Series(animal)
p_animal

first       Cat
second      Dog
third     Tiger
dtype: object

In [ ]:
print(p_animal['first'])

Cat

In [ ]:
print(p_animal.iloc[2])

Tiger

In [ ]:
type(p_animals)

pandas.core.series.Series

In [ ]:
p_animal.index

Index(['first', 'second', 'third'], dtype='object')

In [ ]:
p_animal.values

array(['Cat', 'Dog', 'Tiger'], dtype=object)

In [ ]:
p_animals = pd.Series(['cat', 'tiger','dog'], index=['n1','n2','n3'])
p_animals

n1      cat
n2    tiger
n3      dog
dtype: object

In [ ]:
p_animals['n1']

'cat'

In [ ]:
p_animals.loc['n2']

'tiger'

In [ ]:
for item in p_animals:
  print('Salam ' + str(item))

Salam cat
Salam tiger
Salam dog

In [ ]:
'Salam ' + p_animals

n1      Salam cat
n2    Salam tiger
n3      Salam dog
dtype: object

In [ ]:
import numpy as np
import pandas as pd

numbers = [2.0, 4 , 40.1]
p2 = pd.Series(numbers)
np.sum(p2)

np.float64(46.1)

In [ ]:
animal = {
    'first': 'Cat',
    'second': 'Dog',
    'third': 'Tiger'
}
p_animal = pd.Series(animal)
number = {
    'first': 1,
    'second': 2.90,
    'third': 0.04
}
p_number = pd.Series(numbers)
number2 = {
    'first': 10000,
    'second': 200000.90,
    'third': 0.000004
}
p_number2 = pd.Series(number2)

df = pd.DataFrame([p_animal, p_number, p_number2], ['n1', 'n2', 'n3'])
df

      first    second     third    0    1     2
n1      Cat       Dog     Tiger  NaN  NaN   NaN
n2      NaN       NaN       NaN  2.0  4.0  40.1
n3  10000.0  200000.9  0.000004  NaN  NaN   NaN

In [ ]:
df['first']

n1        Cat
n2        NaN
n3    10000.0
Name: first, dtype: object

In [ ]:
df.T

           n1    n2        n3
first     Cat   NaN   10000.0
second    Dog   NaN  200000.9
third   Tiger   NaN  0.000004
0         NaN   2.0       NaN
1         NaN   4.0       NaN
2         NaN  40.1       NaN

In [ ]:
df['first']

n1        Cat
n2        NaN
n3    10000.0
Name: first, dtype: object

In [ ]:
df[['first']]

      first
n1      Cat
n2      NaN
n3  10000.0

In [ ]:
df2 = df

In [ ]:
df2.drop('n1', inplace=True)

In [ ]:
df

      first    second     third    0    1     2
n2      NaN       NaN       NaN  2.0  4.0  40.1
n3  10000.0  200000.9  0.000004  NaN  NaN   NaN

In [ ]:
df2

      first    second     third    0    1     2
n2      NaN       NaN       NaN  2.0  4.0  40.1
n3  10000.0  200000.9  0.000004  NaN  NaN   NaN

In [ ]:
animal = {
    'first': 'Cat',
    'second': 'Dog',
    'third': 'Tiger'
}
p_animal = pd.Series(animal)
number = {
    'first': 1,
    'second': 2.90,
    'third': 0.04
}
p_number = pd.Series(numbers)
number2 = {
    'first': 10000,
    'second': 200000.90,
    'third': 0.000004
}
p_number2 = pd.Series(number2)

df = pd.DataFrame([p_animal, p_number, p_number2], ['n1', 'n2', 'n3'])
df

      first    second     third    0    1     2
n1      Cat       Dog     Tiger  NaN  NaN   NaN
n2      NaN       NaN       NaN  2.0  4.0  40.1
n3  10000.0  200000.9  0.000004  NaN  NaN   NaN

In [ ]:
df3 = df[['first', 0]]

In [ ]:
df3.drop('n1', inplace=True )

/tmp/ipython-input-4037086403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop('n1', inplace=True )

In [ ]:
t = df['second']
type(t)

pandas.core.series.Series

In [ ]:
s = df.T['n1']
type(s)
s += '!@'
s

first       Cat!@
second      Dog!@
third     Tiger!@
0             NaN
1             NaN
2             NaN
Name: n1, dtype: object

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [ ]:
len(data[data['latitude'] > 39.50].index)

598

In [ ]:
len(data)

20640

In [ ]:
df_test =data[data['households'] > 4]

In [ ]:
len(df_test)

20628

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df = data[(data['total_rooms'] > 880) & (data['population'] > 1000)]

In [ ]:
data['TEST']= data['total_rooms'] * data['population']
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,TEST
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,283360.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,17044699.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,727632.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,710892.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,919255.0

In [ ]:
data['TEST']

0          283360.0
1        17044699.0
2          727632.0
3          710892.0
4          919255.0
            ...
20635     1406925.0
20636      248132.0
20637     2269778.0
20638     1378260.0
20639     3862795.0
Name: TEST, Length: 20640, dtype: float64

In [ ]:
data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [ ]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [ ]:
data.groupby('ocean_proximity')['TEST'].min()

ocean_proximity
<1H OCEAN         54.0
INLAND            12.0
ISLAND        302152.0
NEAR BAY         104.0
NEAR OCEAN       128.0
Name: TEST, dtype: float64

In [ ]:
data.groupby('ocean_proximity')['TEST'].aggregate(lambda x:x.sum() /len(x) )

ocean_proximity
<1H OCEAN     6.148779e+06
INLAND        6.237210e+06
ISLAND        1.208396e+06
NEAR BAY      4.548910e+06
NEAR OCEAN    5.190425e+06
Name: TEST, dtype: float64

In [ ]:
data.groupby('ocean_proximity')['TEST'].aggregate(lambda x:x.max()  - x.min())

ocean_proximity
<1H OCEAN     932022828.0
INLAND        641112588.0
ISLAND          2292748.0
NEAR BAY      152212088.0
NEAR OCEAN    391403437.0
Name: TEST, dtype: float64

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://corgis-edu.github.io/corgis/datasets/csv/airlines/airlines.csv')

In [3]:
data.head()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [4]:
data.columns

Index(['Airport.Code', 'Airport.Name', 'Time.Label', 'Time.Month',
       'Time.Month Name', 'Time.Year', 'Statistics.# of Delays.Carrier',
       'Statistics.# of Delays.Late Aircraft',
       'Statistics.# of Delays.National Aviation System',
       'Statistics.# of Delays.Security', 'Statistics.# of Delays.Weather',
       'Statistics.Carriers.Names', 'Statistics.Carriers.Total',
       'Statistics.Flights.Cancelled', 'Statistics.Flights.Delayed',
       'Statistics.Flights.Diverted', 'Statistics.Flights.On Time',
       'Statistics.Flights.Total', 'Statistics.Minutes Delayed.Carrier',
       'Statistics.Minutes Delayed.Late Aircraft',
       'Statistics.Minutes Delayed.National Aviation System',
       'Statistics.Minutes Delayed.Security',
       'Statistics.Minutes Delayed.Total',
       'Statistics.Minutes Delayed.Weather'],
      dtype='object')

In [5]:
data['Statistics.# of Delays.Weather'].mean()

np.float64(78.21687840290382)

In [6]:
data['Statistics.# of Delays.Weather'].value_counts()

Statistics.# of Delays.Weather
36     59
41     56
26     56
37     55
27     55
       ..
304     1
635     1
281     1
229     1
250     1
Name: count, Length: 346, dtype: int64

In [7]:
from scipy import stats

In [8]:
stats.trim_mean(data['Statistics.# of Delays.Weather'], 0.1)

np.float64(65.33361678004535)

In [9]:
data['Statistics.# of Delays.Weather'].mean()

np.float64(78.21687840290382)

In [10]:
data['Statistics.# of Delays.Weather'].median()

58.0

In [12]:
data['Statistics.# of Delays.Weather'].mode() # more used on non numerical columns

0    36
Name: Statistics.# of Delays.Weather, dtype: int64

In [13]:
data['Statistics.# of Delays.Weather'].var()

5652.29195921185